<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "header", header: @header %>

<main>
  <%= render "feeds" %>

  <div class="row">
    <div class="small-9 column headerinfo">
      <h2 class="welcomepage">Unser Ziel: Ein klimaneutrales Deutschland bis 2035, um das Pariser 1,5-Grad- Ziel einzuhalten!</h2>
      <br>
      <p>Wir sind davon überzeugt: Es ist höchste Zeit, dass wir Bürger*innen die Sache selbst in die Hand nehmen, um das Klima noch zu retten- dafür schreiben wir das Gesetzespaket was es dazu braucht einfach selbst.</p>
      <br>
      <h4>Unser Vorgehen</h4> 
      <p>Wir benutzen die Sprache unserer Demokratie – und schreiben ein 1,5-Grad- Gesetzespaket, welches alle Bereiche der Gesellschaft im Zusammenhang behandelt: Industrie und Energieversorgung, Verkehr und Landwirtschaft genauso das Bauen und Wohnen sowie Rahmenbedingungen wie den CO2-Preis.</p>
      <br>
      <h4>Beteiligung</h4> 
      <p>Nach einem Jahr Vorbereitung durch Rechercheteams, Fachleute aus den Sektoren und Jurist*innen, in dem bislang mehr als 2900 Optionen für gesetzliche Regulierungen abgewogen wurden, kommt jetzt der für uns wichtigste Teil: Die Bürger*innenbeteiligung im Zerolab. Daran hängt unser Herz. Denn Klimaschutz und Klimagerechtigkeit gehen uns alle an. </p>
      <br>
      <%= image_tag("custom/welcome/jumbopic.jpg") %>
      <span class="welcometext">So sieht die gemeinsame Entwicklung des 1,5-Grad-Gesetzespakets aus </span>
      <br>
      <br>

      <p>Wir schicken vorweg: Wir können hier nur eine Auswahl der Maßnahmen des 1,5-Grad-Gesetzespaktes vorstellen. Alles andere würde unsere Möglichkeiten als spendenfinanzierte NGO überschreiten. Allein im Sektor Landwirtschaft wären das 16 Maßnahmen mit 59 Unterpunkten. </p> 
      <br>
      <p>Deswegen stellen wir hier unter "Diskussionen" die Gesetzesmaßnahmen mit der stärksten Klimawirkung vor. Unter "Vorschläge" fragen wir euch nach Umsetzungswegen, Best Practice Beispielen und eigenen Vorschlägen, und über die "Umfragen" möchten wir über Stimmungsbilder dazulernen.  </p> 
      <br>
      <p>Am Ende lassen wir alle Ergebnisse juristisch prüfen, wie sie mit dem 1.5-Grad-Zielvereinbar sind und in das Gesetzespaket einfließen können.  </p> 
      <br>
      <span class="welcomebottom">Du bist herzlich eingeladen, hier im Zerolab Dein Wissen zu teilen, Deine Meinung zu sagen, Sorgen zu schildern und mit uns an Visionen  zu arbeiten. Für ein 1.5°C Gesetzespaket das die Schwarmintelligenz und die Kompetenz der Vielen nutzt.  </p> 
    </div>
  </div>

  <div class="row">
    <% if @cards.any? %>
      <div class="small-12 column <%= "large-8" if feed_processes_enabled? %>">
        <%= render "cards" %>
      </div>
    <% end %>

    <% if feed_processes_enabled? %>
      <div class="small-12 large-4 column">
        <%= render "processes" %>
      </div>
    <% end %>
  </div>

  <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
    <%= render "recommended",
                recommended_debates: @recommended_debates,
                recommended_proposals: @recommended_proposals %>
  <% end %>
</main>