<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "header", header: @header %>

<main>
  <%= render "feeds" %>

  <div class="row">
    <div class="small-9 column headerinfo">
      <h4>
      Unsere Welt wird immer komplexer. Zugleich spüren wir auch in Deutschland die ersten bedrohlichen Auswirkungen der Klimakrise. 
      Keine leichte Voraussetzung für die Politik, allen Sorgen und Belangen der Bürger*innen gerecht zu werden. 
      Deshalb helfen wir jetzt: Wir erstellen einen fairen und wirksamen Klimagesetzesentwurf, mit dem wir Deutschland bis 2035 
      klimaneutral machen werden.
      <br>
      <br>
      Jede*r ist eingeladen, hier in der ZeroLab – Zukunftswerkstatt Wissen, Meinung, Sorgen und Visionen beizutragen. 
      Für ein starkes Klimaschutzgesetz, das die Schwarmintelligenz und die Kompetenz vieler nutzt.
      <br>
      <br>
      Wir wollen alle Stimmen hören und in diesem Gesetzesentwurf vereinen: die der Landwirtin, des Geologen, des Altenpflegers, 
      der Universitätsprofessorin, des Busfahrers, des Geschäftsführers, der Gemeindevertreterin, des Einzelhändlers. 
      Denn Klimaschutz und Klimagerechtigkeit gehen uns alle an.
      <br>
      <br>
      Wir von GermanZero verstehen uns als Teil der Klimaschutzbewegung und zugleich als ein Sprachrohr der Bevölkerung. 
      Zusammen wollen wir die wichtigste Aufgabe unserer Zeit aus der Mitte der Gesellschaft heraus gestalten.
      <br>
      <br>
      Eine gerechte und klimaneutrale Gesellschaft ist keine Utopie. Wir haben die Mittel. Wir haben die Lösungen. 
      Wir haben unsere Gemeinschaft. Wir machen unser 1,5-Grad-Klimagesetz. Machst Du mit?
      </h4>
    </div>
  </div>

  <div class="row">
    <% if @cards.any? %>
      <div class="small-12 column <%= "large-8" if feed_processes_enabled? %>">
        <%= render "cards" %>
      </div>
    <% end %>

    <% if feed_processes_enabled? %>
      <div class="small-12 large-4 column">
        <%= render "processes" %>
      </div>
    <% end %>
  </div>

  <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
    <%= render "recommended",
                recommended_debates: @recommended_debates,
                recommended_proposals: @recommended_proposals %>
  <% end %>
</main>
