<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "header", header: @header %>

<main>
  <%= render "feeds" %>

  <div class="row">
    <div class="small-12 column headerinfo">
      <h3>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
       ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea 
        takimata sanctus est Lorem ipsum dolor sit amet. %>
      </h3>
    </div>
  </div>

  <div class="row">
    <% if @cards.any? %>
      <div class="small-12 column <%= "large-8" if feed_processes_enabled? %>">
        <%= render "cards" %>
      </div>
    <% end %>

    <% if feed_processes_enabled? %>
      <div class="small-12 large-4 column">
        <%= render "processes" %>
      </div>
    <% end %>
  </div>

  <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
    <%= render "recommended",
                recommended_debates: @recommended_debates,
                recommended_proposals: @recommended_proposals %>
  <% end %>
</main>
